# =======================================
*.class

*.jar
*.war
*.ear

/target/

/build/
/.gradle/


/bin/
/out/


.classpath
.project
.settings/
.factorypath
*.iml
.idea/
.vscode/
*.log
*.tmp
*.temp
*.iws
*.ipr
.DS_Store
Thumbs.db
/lib/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/.gradle/
/gradle-app.settingdata
/generated/
/buildGenerated/